@*@model string*@
@{
    Layout = null;
}
@if (Matrix.Core.ConfigurationsCore.MXFlagSettingHelper.Get<bool>("bShowLoadTime"))
{
    <div style="border:1px solid green; margin-left:85%;font-size:smaller;">
        Query Time : <b>@ViewBag.QueryTime</b>
    </div>
}