@{    
    Layout = null; //"~/Views/Shared/_Layout.cshtml";
}

<h2>About Me</h2>

<p>
    I'm a .Net developer mainly into ASP.Net MVC & C#, currently based in Bangalore, India right now.

    <br />
    <br />

    Do visit my complete profile at <a id="hlMyProfile" href="http://sites.google.com/site/amitstefen1956" target="_blank"><b>my website here</b></a><br />
    Or drop an email to me; <a href="mailto:amit.nosql@gmail.com.com?Subject=Hello%20Amit" target="_top">Send email</a>(amit.nosql@gmail.com).
</p>
